{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top py-2">
    <div class="container">
        <a class="navbar-brand fw-bold fs-4 text-primary" href="{% url 'home:home' %}">
            E-COMMERCE
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            
            <!-- Search Bar for large screens -->
            <div class="d-none d-lg-flex flex-grow-1 mx-5">
                <form class="d-flex w-100" action="#" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search for products..." name="q">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>

            <ul class="navbar-nav ms-auto align-items-center">

                <!-- Mobile search -->
                <li class="nav-item d-lg-none w-100 my-2">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search...">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>

                    <!-- Profile / Login -->
    <li class="nav-item dropdown me-3">
        {% if user.is_authenticated %}
            <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user fa-lg"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><span class="dropdown-item-text">Hello, {{ user.get_username }}!</span></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        {% else %}
            <a class="nav-link text-dark" href="{% url 'accounts:login' %}">
                <i class="fas fa-user fa-lg"></i> Login
            </a>
        {% endif %}
</li>


                <!-- Cart -->
                <li class="nav-item">
    <a class="nav-link text-dark position-relative" href="{% url 'cart:cart_list' %}" title="Shopping Cart"> 
        <i class="fas fa-shopping-cart fa-lg"></i>
        {% if user.is_authenticated %}
        <span class="badge bg-danger rounded-pill position-absolute top-0 start-100 translate-middle small">
            {{ cart_count }}
        {% endif %}
        <span class="ms-1 d-lg-none">Cart</span>
    </a>
</li>


            </ul>
        </div>
    </div>
</nav>
